@media (min-width: 1770px) {
  body {
    font-size: 1.5em !important; }

  .header {
    background-size: contain center 100%; }

  .nav__content {
    height: 100px !important; }

  .logo {
    max-width: 150px !important; }

  .alexey {
    max-width: 80% !important; }

  .name {
    grid-template-columns: 40% 20% 40% !important; }

  .top {
    grid-template-rows: 80px 30px 88px !important; }

  .socials {
    width: 100px !important;
    height: 100px !important; }

  .button {
    height: 80px !important; }

  .about__me__content {
    padding-top: 100px !important; }

  .gallery__title {
    padding-top: 100px !important; }

  .gallery__title__main {
    grid-template-rows: 60px auto 150px !important; }

  .gallery__fitnes {
    columns: 5 !important;
    column-width: 100%; }

  .gallery__food {
    columns: 5 !important;
    column-width: 100%; }

  .contact__main {
    padding-top: 100px !important; }

  .fields {
    grid-template-rows: 110px 140px 40px 120px 100px !important; }

  .input {
    height: 80px !important; }

  .input__text {
    height: 130px !important; }

  #submit {
    height: 80px !important;
    align-self: center; } }
@media (max-width: 1900px) {
  body {
    font-size: 1.12em !important; } }
@media (max-width: 1440px) {
  body {
    font-size: 1em !important; }

  .gallery__title__main {
    grid-template-rows: 48px auto 80px !important; } }
@media (max-width: 1206px) {
  body {
    font-size: 0.85em !important; }

  .header {
    height: 100vh !important; }

  .name {
    grid-template-columns: 40% 20% 40% !important; }

  .about__me__main {
    grid-template-columns: 41% 18% 41% !important; }

  .about__me__main .socials {
    width: 60px !important;
    height: 60px !important; }

  .about__me__main .fa {
    font-size: 1.625em !important; }

  .button {
    height: 50px !important;
    font-size: 1.25em !important; }

  .gallery__title__main {
    grid-template-rows: 48px auto 80px !important; }

  .contact__main {
    grid-row-gap: 30px !important; }

  .fields {
    grid-template-rows: 50px 90px 20px 60px 50px !important;
    grid-row-gap: 20px !important;
    max-width: 800px !important; }

  .contact__socials .socials {
    width: 60px !important;
    height: 60px !important; }

  .footer {
    height: 50px; }

  .footer .name {
    font-size: 16px !important; }

  footer a {
    font-size: 12px !important; } }
@media (max-width: 992px) {
  .header__nav {
    height: 70px !important; }

  .header__nav img {
    max-width: 80px !important; }

  .nav__content {
    height: 70px !important; }

  body {
    font-size: 0.75em !important; }

  .name {
    grid-template-columns: 40% 20% 40% !important; }

  .about__me__main {
    grid-template-columns: 36.5384615385% 26.1538461538% 36.5384615385% !important; }

  .about__me__main .socials {
    width: 50px !important;
    height: 50px !important; }

  .about__me__main .fa {
    font-size: 1.5em !important; }

  .button {
    height: 50px !important;
    font-size: 1.125em !important;
    width: 80% !important; }

  .gallery__fitnes {
    columns: 3 !important; }

  .gallery__food {
    columns: 3 !important; }

  .footer {
    height: 70px !important; } }
@media (max-width: 768px) {
  body {
    font-size: 0.7em !important; }

  .header__nav {
    height: 60px !important; }

  .header__nav img {
    max-width: 70px !important; }

  .nav__content {
    height: 60px !important; }

  .about__me {
    min-height: 100vh !important; }

  .about__me__main {
    margin: auto auto !important; }

  .about__me__content .subtitle {
    margin: 10px auto 20px auto !important; }

  .top {
    grid-template-rows: 30px 15px 30px !important; }

  .name {
    grid-template-columns: 35% 30% 35% !important; }

  .about__me__main {
    grid-template-columns: repeat(4, 1fr) !important;
    grid-row-gap: 20px;
    padding-bottom: 20px;
    margin: auto auto 0 auto; }

  .about__me__main .center {
    grid-area: 1/2/2/4 !important;
    width: 70% !important;
    align-self: end; }

  .left {
    display: none !important; }

  .right {
    display: none !important; }

  .socials {
    margin: 0 !important;
    align-self: center;
    justify-self: center; }

  .top__socials {
    align-self: center !important; }

  .socials__bottom {
    grid-area: 2/1/3/5;
    display: grid !important;
    grid-template-columns: repeat(4, 1fr);
    width: 100%; }

  .buttons__bottom {
    grid-area: 3/1/4/5;
    display: grid !important;
    grid-template-columns: 50% 50%;
    width: 100%; }

  .button {
    width: 100% !important;
    justify-self: center !important; }

  .about__me__main .socials {
    width: 50px !important;
    height: 50px !important; }

  .about__me__main .fa {
    font-size: 1.5em !important; }

  .button {
    height: 50px !important;
    font-size: 1.125em !important;
    width: 80% !important; }

  .gallery__title {
    padding-top: 50px !important; }

  .gallery__title__main {
    grid-template-rows: 25px auto 80px !important; }

  .contact__main {
    padding-top: 60px !important; } }
    @media (min-width: 652px) {
      #fitness__choise {
        background: rgba(0, 0, 0, 0) !important; }
    
      #food__choise {
        background: rgba(0, 0, 0, 0) !important; } }
@media (max-width: 650px) {
  .header__nav {
    height: 50px !important; }

  .header__nav img {
    max-width: 70px !important; }

  .nav__content {
    grid-template-rows: 50px auto !important; }

  .subtitle {
    width: 100% !important; }

  .header {
    grid-template-columns: 100% !important;
    grid-template-rows: 50% 50% !important;
    min-height: 100vh !important;
    background: #ffffff !important; }

  .fitnes__to {
    display: block !important;
    color: black !important;
    background: rgba(255, 255, 255, 0.486);
    width: 100%; }

  .food__to {
    display: block !important;
    color: white !important;
    background: rgba(0, 0, 0, 0.466);
    width: 100%; }

  #fitness__choise {
    position: relative;
    background-size: cover !important;
    background-position: center center !important; }

  #food__choise {
    position: relative;
    background-size: cover !important;
    background-position: center center !important; }

  .header img {
    max-width: 100%; }

  .burgerOn {
    display: block !important; }

  .nav__content {
    grid-template-rows: 40px auto;
    grid-row-gap: 1px; }

  .menu {
    grid-area: 2/1/2/3;
    display: none;
    max-width: 100%;
    align-self: start;
    justify-self: center;
    overflow: hidden; }

  .menu ul {
    display: grid !important;
    grid-template-columns: 100% !important;
    grid-template-rows: repeat(4, 40px) !important;
    grid-row-gap: 1px;
    width: 100%; }

  ul li {
    position: relative;
    display: grid;
    background-color: rgba(22, 22, 22, 0.7);
    width: 100%;
    height: 100%;
    font-size: 12px !important; }

  li a {
    align-self: center;
    text-align: center; }

  .about__me__content {
    padding-top: 50px !important; }

  .about__me__main {
    grid-template-columns: repeat(4, 1fr) !important; }

  .top .name {
    font-size: 0.75em !important; }

  .button {
    height: 40px !important; }

  .gallery {
    grid-template-columns: repeat(2, 1fr) !important; }

  .gallery__fitnes {
    columns: 2 !important; }

  .gallery__food {
    columns: 2 !important; }

  .contact__main {
    padding-top: 50px !important; }

  .fields {
    grid-template-columns: 100% !important;
    grid-template-rows: 50px 50px 100px 20px 50px 50px !important; }

  .input__name {
    grid-area: 1/1/2/2 !important;
    justify-self: center !important;
    width: 90% !important; }

  .input__phone {
    grid-area: 2/1/3/2 !important;
    justify-self: center !important;
    width: 90% !important; }

  .input__text {
    grid-area: 3/1/4/2 !important;
    justify-self: center !important;
    border-radius: 25px !important;
    width: 90% !important; }

  .submit__data {
    grid-area: 4/1/5/2 !important; }

  .contact__socials {
    grid-area: 5/1/6/2 !important;
    grid-template-columns: 100% !important;
    grid-template-rows: 100% !important; }

  .socials__mobile {
    display: grid !important;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 50% 50%; }

  .socials__mobile .mail {
    grid-area: 1/2/2/3;
    font-size: 1.125em;
    justify-self: center;
    color: #ffffff;
    align-self: center; }

  .socials__mobile .mail:hover {
    color: #00ffe5; }

  .socials__mobile .mail__icon {
    grid-area: 1/1/3/2; }

  .socials__mobile .phone {
    grid-area: 2/2/3/3;
    font-size: 1.125em;
    justify-self: center;
    color: #ffffff;
    align-self: center; }

  .socials__mobile .phone:hover {
    grid-area: 2/2/3/3;
    font-size: 1.125em;
    justify-self: start;
    color: #00ffe5; }

  .socials__mobile .phone__icon {
    grid-area: 1/3/3/4; }

  .socials__mail, .socials__phone {
    display: none !important; }

  #submit {
    grid-area: 6/1/7/2 !important;
    width: 80% !important; }

  .socials__mobile .socials, .socials__mobile .socials {
    width: 40px !important;
    height: 40px !important; }

  .footer {
    height: 50px !important; }

  .footer .name {
    font-size: 1em !important; }

  .footer a {
    font-size: 0.65em !important; } }
@media (max-width: 480px) {
  body {
    font-size: 0.58em !important; }

  .header {
    height: 280px !important; }

  .about__me__main .center {
    width: 90% !important; }

  .top {
    grid-template-rows: 15% 15% 70% !important; }

  .about__me__main {
    grid-template-columns: repeat(4, 1fr) !important; }

  .about__me__main .fa {
    font-size: 16px !important; }

  .button {
    font-size: 10px !important;
    height: 30px !important; }

  .about__me__main .socials {
    width: 40px !important;
    height: 40px !important; }

  .gallery__title__main {
    grid-template-rows: 25px auto 60px !important; }

  .fields {
    grid-template-columns: 100% !important;
    grid-template-rows: 50px 50px 100px 20px 50px 50px !important; }

  .input__name {
    grid-area: 1/1/2/2 !important;
    justify-self: center !important;
    width: 90% !important; }

  .input__phone {
    grid-area: 2/1/3/2 !important;
    justify-self: center !important;
    width: 90% !important; }

  .input__text {
    grid-area: 3/1/4/2 !important;
    justify-self: center !important;
    border-radius: 25px !important;
    width: 90% !important; }

  .submit__data {
    grid-area: 4/1/5/2 !important; }

  .contact__socials {
    grid-area: 5/1/6/2 !important;
    grid-template-columns: 100% !important;
    grid-template-rows: 100% !important; }

  .socials__mobile {
    display: grid !important;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 50% 50%; }

  .socials__mobile .mail {
    grid-area: 1/2/2/3;
    font-size: 1.125em;
    justify-self: center;
    color: #ffffff;
    align-self: center; }

  .socials__mobile .mail:hover {
    color: #00ffe5; }

  .socials__mobile .mail__icon {
    grid-area: 1/1/3/2; }

  .socials__mobile .phone {
    grid-area: 2/2/3/3;
    font-size: 1.125em;
    justify-self: center;
    color: #ffffff;
    align-self: center; }

  .socials__mobile .phone:hover {
    grid-area: 2/2/3/3;
    font-size: 1.125em;
    justify-self: start;
    color: #00ffe5; }

  .socials__mobile .phone__icon {
    grid-area: 1/3/3/4; }

  .socials__mail, .socials__phone {
    display: none !important; }

  #submit {
    grid-area: 6/1/7/2 !important;
    width: 80% !important; }

  .socials__mobile .socials, .socials__mobile .socials {
    width: 40px !important;
    height: 40px !important; } }
@media (max-width: 360px) {
  body {
    font-size: 0.5em !important; }

  .header {
    height: 220px !important; }

  .top .name {
    font-size: 0.75em !important; }

  .top {
    grid-template-rows: 20px 10px 25px !important;
    grid-row-gap: 5px !important; }

  .about__me__main {
    grid-template-columns: repeat(4, 1fr) !important; }

  .about__me__main .center {
    width: 75% !important; }

  .about__me__main .fa {
    font-size: 12px !important; }

  .about__me__main .socials {
    width: 35px !important;
    height: 35px !important; }

  .gallery__title__main {
    grid-template-rows: 25px auto 50px !important;
    grid-row-gap: 5px !important; }

  .footer {
    height: 50px; }

  .footer .name {
    font-size: 12px !important; }

  footer a {
    font-size: 10px; } }
